html, body{
	margin: 0;
	padding: 0;
	z-index:1;
	font-family:'Helvetica Neue', sans-serif;
}

html, body, .controls, .canvas{
    height: 100%;
}
.controls, .canvas{
    float:left;
}
.controls{
    width: 260px;
    background: #F0F0F0;
}
.controls > div{
	padding:20px 20px;
}
.control-group{
	margin-bottom: 40px ;
}
.control-group label{
	font-weight:bold;
	font-size: 15px;
	padding-bottom:8px;
	display:block;
}
label.radio {
	font-weight: normal;
	font-size: 14px;
	padding-bottom:2px;
}
input[type="range"]{
	width:100%;
}
h4{
	margin: 0;
}

.stat{
	font-size: 36px;
	letter-spacing: -1px;
	margin-bottom:40px;
}

.buffer-canvas {
	display:none;
}
#thumbnail {
	margin-bottom: 50px;
}
.controls img{
	width:100%;
}
.image-title{
	text-transform: uppercase;
	font-size: 11px;
}
#thumbnail.load{
	background:#DDDDDD;
	width:100%;
	text-align: center;
	padding:40px 0;
}
#thumbnail.load img, #thumbnail.load .image-title{
	display:none;
}


#dropzone{
	background:#DDDDDD;
	width:100%;
	text-align: center;
	padding:40px 0;
}

.loadingText{
	font-size: 13px;
	color:#666;
}
.loading:before{
	content:'';
	z-index:1000;
	position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
	height:100%;
	background:rgba(0,0,0,.85) url('../img/loader.gif') no-repeat center center;
}
.hide{
	display:none;
}




