html, body{
	margin: 0;
	padding: 0;
}

html, body, .controls, .canvas{
    height: 100%;
}
.controls, .canvas{
    float:left;
}
.controls{
    width: 260px;
    background: #F0F0F0;
}
.controls > div{
	padding:40px 20px 20px;
}
.controls img{
	width:100%;
	margin-top: 16px;
}
.image-title{
	text-transform: uppercase;
	font-size: 11px;
}
.thumb {
  height:75px;
  border: 1px solid #000;
  margin: 10px 0 0;
}

.control-group{
	margin-bottom: 40px ;
}
.control-group label{
	font-family:'Helvetica Neue', sans-serif;
	font-weight:bold;
	font-size: 15px;
	padding-bottom:8px;
	display:block;
}
label.radio {
	font-weight: normal;
	font-size: 14px;
	padding-bottom:2px;
}
input#resolution{
	width:100%;
}
h4{
	margin: 0;
}

.stat{
	font-size: 36px;
	letter-spacing: -1px;
	margin-bottom:40px;
}

.buffer-canvas {
	display:none;
}
